.btn {
    font-size: 1.8rem;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--alpha-bg);
    border-color: transparent;
    color: #fff;

    --alpha-bg: #2f2739;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.btn + .btn {
    margin-left: 12px;
}

.primary {
    color: #fff;
    background-color: var(--alpha-bg);
    border-color: var(--alpha-bg);
}

.secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.large {
    min-width: 136px;
    padding: 14px 16px;
}

.small {
    font-size: 1.2rem;
    width: 32px;
    height: 32px;
    background-color: transparent;
}

.disable {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.icon + .title {
    margin-left: 8px;
}
